@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}
* {
    min-height: 0;
    min-width: 0;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:active,
:focus {
    outline: 0;
}
a:active,
a:focus {
    outline: 0;
}
aside,
footer,
header,
nav {
    display: block;
}
body,
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
button,
input,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.loader-bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:after,
.loader:before {
    content: "";
    border: 1em solid #005bc1;
    background-color: #005bc1;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
.header {
    position: fixed;
    background: rgba(0, 91, 193, 0.6);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 80px;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.header__logo {
    position: absolute;
    z-index: 3;
    left: 2.08%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 140px;
    height: 58px;
}
.header__logo-image {
    width: 100%;
    height: 100%;
}
.header__logo-img {
    width: 100%;
    height: 100%;
}
.header__burger {
    display: none;
}
.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
}
.header__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: 26px;
}
.header__link--home {
    margin-left: 0;
}
.main {
    position: relative;
    background: url(../img/main.webp) center center no-repeat;
    background-size: cover;
    height: 800px;
}
.main__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1110px;
    height: 100%;
}
.main__inner:before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 40%;
    height: calc(100% - 80px);
    background: rgba(0, 91, 193, 0.6);
}
.main__content {
    position: absolute;
    padding-left: 190px;
    top: 35%;
}
.main__content-title {
    width: 635px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 40px;
}
.main__content-suptitle {
    width: 445px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 40px;
}
.main__content-btn {
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #fff;
}
.projects {
    padding: 156px 0 0 0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.projects__title {
    margin-bottom: 70px;
}
.title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    position: relative;
    padding-left: 140px;
}
.title span {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    left: 0;
    top: 13px;
    background: #005bc1;
}
.title span:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    top: 12px;
    background: #005bc1;
}
.projects .slider {
    margin: 0 -15px;
}
.projects .slider__box {
    position: relative;
    padding: 0 15px;
}
.projects .slider__box-image {
    padding-left: 1px;
}
.projects .slider__box-img {
    width: 540px;
    height: 400px;
}
.projects .slider__box-content {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 250px;
    height: 110px;
    background: #fff;
    padding: 20px 0 0 25px;
}
.projects .slider__box-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 14px;
}
.projects .slider__box-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.projects .slider .slick-next,
.projects .slider .slick-prev {
    border: 2px solid #005bc1;
    width: 55px;
    height: 55px;
    top: -29%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.projects .slider .slick-next {
    right: 10px;
}
.projects .slider .slick-next:before {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 20px;
    background: #005bc1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.projects .slider .slick-next:after {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 29px;
    background: #005bc1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.projects .slider .slick-prev {
    right: 64px;
    left: auto;
}
.projects .slider .slick-prev:before {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 20px;
    background: #005bc1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.projects .slider .slick-prev:after {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 29px;
    background: #005bc1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.production {
    padding: 150px 0 0 0;
}
.production__title {
    margin-bottom: 70px;
}
.production__btns {
    margin-bottom: 55px;
    text-align: center;
}
.production__btn {
    display: inline-block;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin: 0 15px;
    position: relative;
}
.production__btn:focus {
    color: #005bc1;
}
.production__btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #005bc1;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.production__btn:focus:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #005bc1;
}
.production__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
}
.production__box {
    padding: 0 15px;
    position: relative;
}
.production__box-img {
    width: 100%;
    height: auto;
}
.production__box-content {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 265px;
    height: 86px;
    background: #005bc1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 21px;
}
.production__box-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
.rent {
    padding: 150px 0 0 0;
}
.rent__title {
    margin-bottom: 40px;
}
.rent__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rent__body-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40.1%;
    flex: 0 0 40.1%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #343434;
    padding: 0 95px 0 0;
}
.rent__slider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 59.9%;
    flex: 0 0 59.9%;
    border: 3px solid #005bc1;
    padding: 50px 20px 30px 30px;
}
.rent__slider-inner {
    position: relative;
}
.rent__box-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 55px;
}
.rent__box-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rent__box-image img {
    width: 100%;
    height: auto;
}
.rent__box-content {
    padding-left: 30px;
}
.rent__content-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 30px;
}
.rent__content-list li {
    list-style: disc outside;
}
.rent__list-item {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-bottom: 15px;
}
.rent .rent__slider .slick-next,
.rent .rent__slider .slick-prev {
    border: 2px solid #005bc1;
    width: 55px;
    height: 55px;
    top: -20px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 2;
}
.rent .rent__slider .slick-next {
    right: 10px;
}
.rent .rent__slider .slick-next:before {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 20px;
    background: #005bc1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rent .rent__slider .slick-next:after {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 29px;
    background: #005bc1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rent .rent__slider .slick-prev {
    right: 64px;
    left: auto;
}
.rent .rent__slider .slick-prev:before {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 20px;
    background: #005bc1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rent .rent__slider .slick-prev:after {
    content: "";
    position: absolute;
    width: 12.59px;
    height: 2px;
    left: 19px;
    top: 29px;
    background: #005bc1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.news {
    padding: 108px 0 0 0;
}
.news__container {
    position: relative;
}
.news__title {
    margin-bottom: 77px;
}
.news__link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 34px;
    background-color: #005bc1;
}
.news__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.news__box-mac,
.news__box-milos,
.news__box-prolight,
.news__box-robe {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 30px;
    position: relative;
}
.news__box-prolight,
.news__box-robe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.news__box-milos {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.news__box-mac {
    padding: 0 0 0 30px;
}
.news__img {
    width: 100%;
    height: auto;
}
.news-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.news__milos-title {
    margin-bottom: 42px;
}
.news-date {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #979797;
}
.news__milos-data {
    position: absolute;
    top: 5px;
    right: 30px;
}
.news-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    color: #343434;
}
.news__milos-text {
    margin-bottom: 21px;
}
.news-link {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #343434;
}
.news__milos-link {
    bottom: 0;
    left: 30px;
}
.news__prolight-title {
    margin-bottom: 20px;
}
.news__prolight-date {
    position: absolute;
    bottom: 0;
    right: 30px;
}
.news__prolight-text {
    margin-bottom: 27px;
}
.news__robe-title {
    margin-bottom: 15px;
}
.news__robe-date {
    position: absolute;
    bottom: 0;
    right: 30px;
}
.news__robe-text {
    margin-bottom: 20px;
}
.news__box-image {
    width: 128px;
    height: 115px;
}
.news__box-img {
    width: 100%;
    height: auto;
}
.footer {
    padding: 120px 0 0 0;
}
.footer__inner {
    background-color: #005bc1;
}
.footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 36px 0 25px 0;
}
.footer__header-tel {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
.footer__header-adress,
.footer__header-mail {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.footer__body {
    padding: 25px 0 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.footer__body-inner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__body-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__body-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
.footer__link--middle {
    text-align: center;
}
.footer__link--right {
    text-align: right;
}
.footer__bottom {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__bottom-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.footer__bottom-text:first-child {
    margin-bottom: 10px;
}
.footer__container {
    position: relative;
}
.footer__btn-Top {
    content: "";
    position: absolute;
    top: -5%;
    right: 0;
    background-color: #000;
    width: 35px;
    height: 35px;
}
.footer__btn-Top:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    top: 15px;
    left: 7px;
    background-color: #fff;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.footer__btn-Top:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    top: 15px;
    right: 7px;
    background-color: #fff;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
@media (max-width: 1450px) {
    .header {
        height: 70px;
    }
    .header__logo {
        width: 133px;
        height: 53px;
    }
    .main {
        height: 600px;
    }
    .main__inner {
        width: 850px;
    }
    .main__inner:before {
        top: 70px;
        height: calc(100% - 70px);
    }
    .main__content {
        padding-left: 140px;
    }
    .main__content-title {
        width: 550px;
        line-height: 60px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main__content-suptitle {
        width: 445px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    .main__content-btn {
        font-size: 15px;
        letter-spacing: 0;
        padding: 12px 30px;
    }
    .projects {
        padding: 120px 0 0 0;
    }
    .container {
        max-width: 900px;
    }
    .projects__title {
        margin-bottom: 50px;
    }
    .title {
        font-size: 26px;
        line-height: 38px;
        letter-spacing: 0;
        padding-left: 120px;
    }
    .projects .slider__box-img {
        width: 440px;
        height: 315px;
    }
    .projects .slider .slick-next,
    .projects .slider .slick-prev {
        top: -28%;
        width: 45px;
        height: 45px;
    }
    .projects .slider .slick-next:before {
        top: 16px;
        left: 14px;
    }
    .projects .slider .slick-next:after {
        top: 25px;
        left: 14px;
    }
    .projects .slider .slick-prev {
        right: 54px;
    }
    .projects .slider .slick-prev:before {
        top: 16px;
        left: 14px;
    }
    .projects .slider .slick-prev:after {
        top: 25px;
        left: 14px;
    }
    .production {
        padding: 120px 0 0 0;
    }
    .production__title {
        margin-bottom: 50px;
    }
    .production__btns {
        margin-bottom: 40px;
    }
    .production__btn {
        margin: 0 12px;
        font-size: 20px;
        line-height: 30px;
    }
    .production__boxes {
        margin: 0 -10px;
    }
    .production__box {
        padding: 0 10px;
    }
    .production__box-content {
        width: 245px;
        height: 80px;
        padding-left: 15px;
    }
    .production__box-text {
        font-size: 16px;
        line-height: 22px;
    }
    .rent {
        padding: 120px 0 0 0;
    }
    .rent__title {
        margin-bottom: 30px;
    }
    .rent__body-text {
        font-size: 14px;
        line-height: 1.4;
        padding: 0 45px 0 0;
    }
    .rent__slider {
        padding: 40px 15px 22px 22px;
    }
    .rent__box-title {
        font-size: 16px;
        margin-bottom: 45px;
    }
    .rent__box-content {
        padding-left: 20px;
    }
    .rent__content-title {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .rent__list-item {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .rent .rent__slider .slick-next,
    .rent .rent__slider .slick-prev {
        top: -5%;
        width: 45px;
        height: 45px;
    }
    .rent .rent__slider .slick-next:before {
        top: 16px;
        left: 14px;
    }
    .rent .rent__slider .slick-next:after {
        top: 25px;
        left: 14px;
    }
    .rent .rent__slider .slick-prev {
        right: 54px;
    }
    .rent .rent__slider .slick-prev:before {
        top: 16px;
        left: 14px;
    }
    .rent .rent__slider .slick-prev:after {
        top: 25px;
        left: 14px;
    }
    .news {
        padding: 80px 0 0 0;
    }
    .news__title {
        margin-bottom: 50px;
    }
    .news__boxes {
        margin: 0 -20px;
    }
    .news__box-mac,
    .news__box-milos,
    .news__box-prolight,
    .news__box-robe {
        padding: 0 20px;
    }
    .news__box-mac {
        padding: 0 0 0 20px;
    }
    .news-title {
        font-size: 15px;
        line-height: 24px;
    }
    .news__milos-title {
        margin-bottom: 30px;
    }
    .news-date {
        font-size: 12px;
    }
    .news__milos-data {
        top: 7px;
        right: 30px;
    }
    .news-text {
        font-size: 12px;
    }
    .news__milos-text {
        margin-bottom: 17px;
    }
    .news-link {
        font-size: 12px;
    }
    .news__prolight-title {
        margin-bottom: 15px;
    }
    .news__prolight-date {
        right: 20px;
    }
    .news__prolight-text {
        margin-bottom: 18px;
    }
    .news__robe-date {
        right: 20px;
    }
    .footer {
        padding: 90px 0 0 0;
    }
    .footer__header {
        padding: 30px 0 22px 0;
    }
    .footer__header-tel {
        font-size: 16px;
    }
    .footer__header-adress,
    .footer__header-mail {
        font-size: 13px;
    }
    .footer__body {
        padding: 21px 0 9px 0;
    }
    .footer__body-link {
        font-size: 13px;
        margin-bottom: 12px;
    }
    .footer__bottom {
        padding: 21px 0;
    }
    .footer__bottom-text {
        font-size: 13px;
    }
    .footer__btn-Top {
        top: -9%;
    }
}
@media (max-width: 1170px) {
    .header__logo {
        width: 133px;
        height: 53px;
    }
    .projects {
        padding: 90px 0 0 0;
    }
    .title {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0;
        padding-left: 110px;
    }
    .production {
        padding: 90px 0 0 0;
    }
    .rent {
        padding: 90px 0 0 0;
    }
    .news {
        padding: 60px 0 0 0;
    }
    .footer {
        padding: 70px 0 0 0;
    }
    .footer__header {
        padding: 25px 0 18px 0;
    }
    .footer__header-tel {
        font-size: 15px;
    }
    .footer__header-adress,
    .footer__header-mail {
        font-size: 12px;
    }
    .footer__body {
        padding: 17px 0 7px 0;
    }
    .footer__body-link {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .footer__bottom {
        padding: 17px 0;
    }
    .footer__bottom-text {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .header {
        height: 60px;
    }
    .header__logo {
        width: 101px;
        height: 39px;
    }
    .header__link {
        font-size: 12px;
        margin-left: 30px;
    }
    .main {
        height: 500px;
    }
    .main__inner {
        width: 768px;
    }
    .main__inner:before {
        top: 60px;
        height: calc(100% - 60px);
    }
    .main__content {
        padding-left: 130px;
    }
    .main__content-title {
        width: 450px;
        line-height: 44px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .main__content-suptitle {
        width: 445px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .main__content-btn {
        font-size: 14px;
        padding: 10px 25px;
    }
    .projects {
        padding: 60px 0 0 0;
    }
    .container {
        max-width: 720px;
    }
    .projects__title {
        margin-bottom: 30px;
    }
    .title {
        font-size: 22px;
        line-height: 38px;
        letter-spacing: 0;
        padding-left: 90px;
    }
    .title span {
        width: 80px;
        height: 2px;
    }
    .title span:before {
        width: 35px;
        height: 2px;
        top: 9px;
    }
    .projects .slider {
        margin: 0 -10px;
    }
    .projects .slider__box {
        padding: 0 10px;
    }
    .projects .slider__box-img {
        width: 359px;
        height: 259px;
    }
    .projects .slider__box-content {
        width: 220px;
        bottom: 20px;
        right: 20px;
        height: 90px;
        padding: 15px 0 0 20px;
    }
    .projects .slider__box-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .projects .slider__box-text {
        font-size: 12px;
        line-height: 15px;
    }
    .projects .slider .slick-next,
    .projects .slider .slick-prev {
        top: -23%;
        width: 35px;
        height: 35px;
    }
    .projects .slider .slick-next:before {
        top: 10px;
        left: 9px;
    }
    .projects .slider .slick-next:after {
        top: 18px;
        left: 9px;
    }
    .projects .slider .slick-prev {
        right: 44px;
    }
    .projects .slider .slick-prev:before {
        top: 10px;
        left: 9px;
    }
    .projects .slider .slick-prev:after {
        top: 18px;
        left: 9px;
    }
    .production {
        padding: 60px 0 0 0;
    }
    .production__title {
        margin-bottom: 30px;
    }
    .production__btns {
        margin-bottom: 30px;
    }
    .production__btn {
        margin: 0 10px;
        font-size: 16px;
        line-height: 30px;
    }
    .production__btn:focus:after {
        bottom: 0;
    }
    .production__boxes {
        margin: 0 -5px;
    }
    .production__box {
        padding: 0 5px;
    }
    .production__box-content {
        right: 5px;
        width: 185px;
        height: 60px;
        padding-left: 10px;
    }
    .production__box-text {
        font-size: 14px;
        line-height: 18px;
    }
    .rent {
        padding: 60px 0 0 0;
    }
    .rent__title {
        margin-bottom: 20px;
    }
    .rent__body-text {
        font-size: 13px;
        line-height: 1.3;
        padding: 0 25px 0 0;
    }
    .rent__slider {
        padding: 30px 10px 18px 18px;
    }
    .rent__box-title {
        width: 80%;
        line-height: 1.4;
        font-size: 15px;
        margin-bottom: 35px;
    }
    .rent__box-content {
        padding-left: 15px;
    }
    .rent__content-title {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .rent__list-item {
        font-size: 11px;
        margin-bottom: 10px;
    }
    .rent .rent__slider .slick-next,
    .rent .rent__slider .slick-prev {
        top: -3%;
        width: 35px;
        height: 35px;
    }
    .rent .rent__slider .slick-next:before {
        top: 10px;
        left: 9px;
    }
    .rent .rent__slider .slick-next:after {
        top: 18px;
        left: 9px;
    }
    .rent .rent__slider .slick-prev {
        right: 44px;
    }
    .rent .rent__slider .slick-prev:before {
        top: 10px;
        left: 9px;
    }
    .rent .rent__slider .slick-prev:after {
        top: 18px;
        left: 9px;
    }
    .news {
        padding: 45px 0 0 0;
    }
    .news__title {
        margin-bottom: 40px;
    }
    .news__link {
        font-size: 12px;
        padding: 12px 28px;
    }
    .news__boxes {
        margin: 0 -10px;
    }
    .news__box-mac,
    .news__box-milos,
    .news__box-prolight,
    .news__box-robe {
        padding: 0 10px;
    }
    .news__box-mac {
        padding: 0 0 0 10px;
    }
    .news-title {
        font-size: 13px;
        line-height: 20px;
    }
    .news__milos-title {
        margin-bottom: 15px;
    }
    .news-date {
        font-size: 10px;
    }
    .news__milos-data {
        position: static;
        margin-bottom: 10px;
    }
    .news-text {
        font-size: 10px;
    }
    .news__milos-text {
        margin-bottom: 10px;
    }
    .news-link {
        font-size: 10px;
    }
    .news__prolight-title {
        margin-bottom: 10px;
    }
    .news__prolight-date {
        position: static;
        margin-bottom: 5px;
    }
    .news__prolight-text {
        margin-bottom: 9px;
    }
    .news__robe-date {
        position: static;
        margin-bottom: 5px;
    }
    .news__box-image {
        width: 100%;
        height: auto;
    }
    .footer {
        padding: 50px 0 0 0;
    }
    .footer__header {
        padding: 20px 0 15px 0;
    }
    .footer__header-tel {
        font-size: 14px;
    }
    .footer__header-adress,
    .footer__header-mail {
        font-size: 11px;
    }
    .footer__body {
        padding: 14px 0 6px 0;
    }
    .footer__body-link {
        font-size: 11px;
        margin-bottom: 8px;
    }
    .footer__bottom {
        padding: 14px 0;
    }
    .footer__bottom-text {
        font-size: 11px;
    }
    .footer__btn-Top {
        width: 30px;
        height: 30px;
    }
    .footer__btn-Top:before {
        width: 10px;
        top: 13px;
        left: 6px;
    }
    .footer__btn-Top:after {
        width: 10px;
        top: 13px;
        right: 6px;
    }
}
@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        height: 50px;
    }
    .header {
        margin-top: 0;
    }
    .header.bege:before {
        background-color: #005bc1;
        z-index: 2;
    }
    .header__logo {
        width: 101px;
        height: 39px;
    }
    .header__burger {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        display: block;
        width: 25px;
        height: 15px;
        position: absolute;
        right: 2.08%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    .header__burger:after,
    .header__burger:before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .header__burger.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 6.5px;
    }
    .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 6.5px;
    }
    .header__menu {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 50%;
        overflow: auto;
        background-color: rgba(0, 91, 193, 0.85);
        padding: 70px 0 20px 0;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        width: 100%;
    }
    .header__list li {
        margin: 0 0 25px 0;
        text-align: center;
    }
    .header__link {
        font-size: 20px;
        margin-left: 0;
    }
    .main {
        height: 400px;
    }
    .main__inner {
        width: 100%;
    }
    .main__inner:before {
        top: 50px;
        height: calc(100% - 50px);
    }
    .main__content {
        padding-left: 45px;
    }
    .main__content-title {
        width: 100%;
        line-height: 36px;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .main__content-suptitle {
        width: 80%;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .main__content-btn {
        font-size: 12px;
    }
    .projects {
        padding: 30px 0 0 0;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .projects__title {
        margin-bottom: 15px;
    }
    .title {
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 0;
        padding-left: 65px;
    }
    .title span {
        width: 60px;
        height: 2px;
    }
    .title span:before {
        width: 28px;
    }
    .projects .slider {
        margin: 0 -5px;
    }
    .projects .slider__box {
        padding: 0 5px;
    }
    .projects .slider__box-img {
        width: 100%;
        height: auto;
    }
    .projects .slider .slick-next,
    .projects .slider .slick-prev {
        top: -46px;
        width: 30px;
        height: 30px;
    }
    .projects .slider .slick-next:before {
        width: 10px;
        top: 10px;
        left: 9px;
    }
    .projects .slider .slick-next:after {
        width: 10px;
        top: 16px;
        left: 9px;
    }
    .projects .slider .slick-prev {
        right: 38px;
    }
    .projects .slider .slick-prev:before {
        width: 10px;
        top: 10px;
        left: 9px;
    }
    .projects .slider .slick-prev:after {
        width: 10px;
        top: 16px;
        left: 9px;
    }
    .production {
        padding: 30px 0 0 0;
    }
    .production__title {
        margin-bottom: 15px;
    }
    .production__btns {
        margin-bottom: 20px;
    }
    .production__btn {
        margin: 0 8px;
    }
    .production__boxes {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .production__box {
        padding: 0;
        margin-bottom: 15px;
    }
    .production__box-content {
        right: 5px;
        width: 265px;
        height: 87px;
        padding-left: 10px;
    }
    .production__box-text {
        font-size: 18px;
        line-height: 27px;
    }
    .rent {
        padding: 30px 0 0 0;
    }
    .rent__title {
        margin-bottom: 15px;
    }
    .rent__body {
        display: block;
    }
    .rent__body-text {
        width: 75%;
        font-size: 13px;
        line-height: 1.3;
        padding: 0;
        margin: 0 auto 15px auto;
    }
    .rent__slider {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .rent__box-title {
        width: 100%;
        line-height: 1.4;
        font-size: 18px;
        margin-bottom: 55px;
    }
    .rent__box-content {
        padding-left: 30px;
    }
    .rent__content-title {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .rent__list-item {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .rent .rent__slider .slick-next,
    .rent .rent__slider .slick-prev {
        top: -5%;
        width: 45px;
        height: 45px;
    }
    .rent .rent__slider .slick-next {
        right: 17px;
    }
    .rent .rent__slider .slick-next:before {
        width: 12.59px;
        top: 16px;
        left: 14px;
    }
    .rent .rent__slider .slick-next:after {
        width: 12.59px;
        top: 25px;
        left: 14px;
    }
    .rent .rent__slider .slick-prev {
        right: 60px;
    }
    .rent .rent__slider .slick-prev:before {
        width: 12.59px;
        top: 16px;
        left: 14px;
    }
    .rent .rent__slider .slick-prev:after {
        width: 12.59px;
        top: 25px;
        left: 14px;
    }
    .news {
        padding: 30px 0 0 0;
    }
    .news__title {
        margin-bottom: 30px;
    }
    .news__link {
        top: 5px;
        right: 15px;
        font-size: 10px;
        padding: 10px 24px;
    }
    .news__box-mac,
    .news__box-milos,
    .news__box-prolight,
    .news__box-robe {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .news__box-mac {
        padding: 0 10px;
    }
    .news__box-prolight,
    .news__box-robe {
        margin-top: 25px;
    }
    .footer {
        padding: 30px 0 0 0;
    }
    .footer__header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .footer__header-tel {
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        text-align: center;
    }
    .footer__header-adress,
    .footer__header-mail {
        font-size: 10px;
    }
    .footer__header-mail {
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        text-align: center;
    }
    .footer__header-adress {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-top: 15px;
        line-height: 1.2;
    }
    .footer__body {
        padding: 11px 0 6px 0;
    }
    .footer__body-link {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .footer__bottom {
        padding: 11px 0;
    }
    .footer__bottom-text {
        font-size: 10px;
    }
    .footer__btn-Top {
        right: 5%;
    }
}
@media (max-width: 600px) {
    .main__inner:before {
        height: calc(100% - 50px);
    }
    .main__content {
        top: 25%;
    }
    .main__content-title {
        width: 300px;
        line-height: 36px;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .main__content-suptitle {
        width: 300px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .rent__box-title {
        width: 75%;
        line-height: 1.4;
        font-size: 15px;
        margin-bottom: 35px;
    }
    .rent__box-content {
        padding-left: 15px;
    }
    .rent__content-title {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .rent__list-item {
        font-size: 11px;
        margin-bottom: 10px;
    }
    .rent .rent__slider .slick-next,
    .rent .rent__slider .slick-prev {
        top: -3%;
        width: 35px;
        height: 35px;
    }
    .rent .rent__slider .slick-next:before {
        width: 10px;
        top: 11px;
        left: 9px;
    }
    .rent .rent__slider .slick-next:after {
        width: 10px;
        top: 18px;
        left: 9px;
    }
    .rent .rent__slider .slick-prev {
        right: 51px;
    }
    .rent .rent__slider .slick-prev:before {
        width: 10px;
        top: 11px;
        left: 9px;
    }
    .rent .rent__slider .slick-prev:after {
        width: 10px;
        top: 17px;
        left: 9px;
    }
    .footer__body-inner {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .footer__header-tel {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .footer__header-mail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .footer__header-adress {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 15px;
    }
    .footer__bottom {
        display: block;
    }
    .footer__bottom-text {
        font-size: 10px;
        text-align: center;
        line-height: 1.2;
    }
}
@media (max-width: 350px) {
    .main {
        height: 350px;
    }
    .main__content {
        padding-left: 15px;
    }
    .main__content-title {
        width: 100%;
        line-height: 30px;
        font-size: 22px;
        margin-bottom: 25px;
    }
    .main__content-suptitle {
        width: 100%;
        line-height: 15px;
        font-size: 12px;
        margin-bottom: 25px;
    }
    .projects__title {
        margin-bottom: 55px;
    }
    .projects .slider__box-content {
        width: 100%;
        bottom: 20px;
        right: auto;
        height: 40%;
        padding: 10px 0 0 10px;
        background: rgba(255, 255, 255, 0.5);
    }
    .projects .slider__box-title {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .projects .slider .slick-next {
        right: auto;
        left: 34px;
    }
    .projects .slider .slick-prev {
        right: auto;
        left: 5px;
    }
    .production__title {
        margin-bottom: 5px;
    }
    .production__btns {
        margin-bottom: 20px;
    }
    .production__btn {
        margin: 0 6px;
    }
    .production__box-content {
        right: 5px;
        width: 185px;
        height: 60px;
        padding-left: 10px;
    }
    .production__box-text {
        font-size: 14px;
        line-height: 18px;
    }
    .rent__title {
        margin-bottom: 10px;
    }
    .rent__slider {
        padding: 50px 10px 18px 18px;
    }
    .rent__box-title {
        width: 100%;
        margin-bottom: 10px;
    }
    .rent__box-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .rent__content-title {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .rent__list-item {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .rent .rent__slider .slick-next,
    .rent .rent__slider .slick-prev {
        top: -10%;
    }
    .rent .rent__slider .slick-next {
        right: auto;
        left: 34px;
    }
    .rent .rent__slider .slick-prev {
        right: auto;
        left: 0;
    }
    .news__title span {
        left: auto;
        right: 70%;
    }
    .news__title {
        margin-bottom: 5px;
        text-align: center;
        padding-left: 0;
    }
    .news__link {
        display: block;
        position: static;
        width: 124.4px;
        margin: 0 auto 15px auto;
    }
    .news__box-mac,
    .news__box-milos,
    .news__box-prolight,
    .news__box-robe {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 25px;
    }
    .news__box-prolight,
    .news__box-robe {
        margin-top: 0;
    }
    .footer__body-inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer__body-box:nth-child(1) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .footer__body-box:nth-child(2) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .footer__body-box:nth-child(3) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .footer__link--middle {
        text-align: right;
    }
    .footer__link--right:nth-child(1) {
        text-align: left;
    }
}
.webp .main {
    background: url(../img/main.webp) center center no-repeat;
}
